.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.typed-out{
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  animation: 
  typing 1s steps(15, end) forwards;
  font-size: 1.6rem;
  width: 0;
}

.subtitle{
  overflow: hidden;
  font-size: 0.8em;
  white-space: nowrap;
  animation:
  subtitle 0.5s steps(5, end) forwards;
  animation-delay: 1s
  ;
}

@keyframes subtitle{
    from{opacity: 0%}
    to {opacity: 100%;}
}

@keyframes typing {
  from { width: 0 }
  to { width: 15% }
}

